.bg-red {
  box-shadow: 0 0 200px 100px hsla(9, 100%, 95%, 1);
  background-color: hsla(9, 100%, 95%, 1);
}
/*Links: replicate underline that clears descenders */
.bg-red a:link { text-decoration: none;
         background: -webkit-linear-gradient(hsla(9, 100%, 95%, 1), hsla(9, 100%, 95%, 1)), -webkit-linear-gradient(hsla(9, 100%, 95%, 1), hsla(9, 100%, 95%, 1)), -webkit-linear-gradient(#333, #333);
         background: linear-gradient(hsla(9, 100%, 95%, 1), hsla(9, 100%, 95%, 1)), linear-gradient(hsla(9, 100%, 95%, 1), hsla(9, 100%, 95%, 1)), linear-gradient(#333, #333);
         -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
         background-repeat: no-repeat, no-repeat, repeat-x;
         text-shadow: 0.03em 0 hsla(9, 100%, 95%, 1), -0.03em 0 hsla(9, 100%, 95%, 1), 0 0.03em hsla(9, 100%, 95%, 1), 0 -0.03em hsla(9, 100%, 95%, 1), 0.06em 0 hsla(9, 100%, 95%, 1), -0.06em 0 hsla(9, 100%, 95%, 1), 0.09em 0 hsla(9, 100%, 95%, 1), -0.09em 0 hsla(9, 100%, 95%, 1), 0.12em 0 hsla(9, 100%, 95%, 1), -0.12em 0 hsla(9, 100%, 95%, 1), 0.15em 0 hsla(9, 100%, 95%, 1), -0.15em 0 hsla(9, 100%, 95%, 1);
         background-position: 0% 93%, 100% 93%, 0% 93%; }

.rounded-corners {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

body {
  background-color: hsla(60, 100%, 97%, 1);
}

#shortcut {
  position: fixed;
  top: 0.0em;
  left: calc( -112.391px + 1.5em );
  transform: rotate( -90deg );
  transform-origin: bottom right;
  /* background-color: hsla(60, 100%, 97%, 1); /*/
}
