.bg-white {
  background-color: white;
}
.rounded-corners {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  box-shadow: 0 0 400px 300px hsla(9, 100%, 95%, 1);
}

body {
  background-color: hsla(60, 100%, 97%, 1);
}

#shortcut {
  position: fixed;
  top: 0.0em;
  left: calc( -112.391px + 1.5em );
  transform: rotate( -90deg );
  transform-origin: bottom right;
  /* background-color: hsla(60, 100%, 97%, 1); /*/
}
